<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520737654602-g5rrjrrm2tuoa4hko57k1dr98a9o96ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520737654602-g5rrjrrm2tuoa4hko57k1dr98a9o96ik</string>
	<key>API_KEY</key>
	<string>API KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>520737654602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.baxmanduppa.BaxChat</string>
	<key>PROJECT_ID</key>
	<string>baxchat-e9a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>baxchat-e9a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:520737654602:ios:8f99aefb5e6802565363b3</string>
</dict>
</plist>
